/* === Base Layout === */
.HomePage-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 6rem;
  box-sizing: border-box;
}

@font-face {
  font-family: 'YourCustomFont';
  src: url('/Fonts/Font2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YourCustomFont2';
  src: url('/Fonts/Font6.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YourCustomFont3';
  src: url('/Fonts/Font10.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f8f8f8; /* A very light base color for the paper */

}

.spaced-header1 {
  font-family: 'YourCustomFont', serif;
  letter-spacing: 0.25em; /* Adjust as needed */
}

.spaced-header2 {
  font-family: 'YourCustomFont', serif;
  letter-spacing: 0.35em; /* Adjust as needed */
}

/* === Header & Nav Group === */
.header-nav-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  margin-bottom: 8rem;
}

/* === Title Header === */
.TitleHeader {
  text-align: center;
}

.TitleHeader h1 {
  font-size: clamp(4rem, 3vw, 6rem);
  line-height: 1;
  margin: 0;
}

/* === Navigation === */
.nav-wrapper {
  width: 100%;
}

.main-nav-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: clamp(1rem, 8vw, 5rem);
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav-list li a {
  font-family: 'YourCustomFont3', sans-serif;
  text-decoration: none;
  color: black;
  font-weight: 520;
  font-size: clamp(1.5rem, 3vw, 4rem);
  white-space: nowrap;
  transition: color 0.3s ease;
}

.main-nav-list li a:hover {
  color: #bbbbbb;
}

/* === Portfolio Section === */
.portfolio {
  display: flex;
  flex-direction: column;
  gap: 9rem;
}

.portfolio-row {
  display: flex;
  align-items: flex-start;
  gap: 8rem;
}

.portfolio-row.reverse {
  flex-direction: row-reverse;
}

.image-box-left,
.image-box-right {
  width: 50%;
  height: auto;
  background-color: lightgray;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  flex-shrink: 0;
  padding-bottom: 75%;
}

.text-box-left,
.text-box-right {
  width: 50%;
  height: auto;
  flex-shrink: 0;
}

.grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 4vh;
  row-gap: 8vh;
  padding: 3vh;
  max-width: 100%; /* caps layout to fit 3 cards max */
}
