.HomePage-container {
  font-family: sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 5rem;
}

.TitleHeader {
  text-align: center;
  margin-bottom: 8rem;
}

.TitleHeader h1 {
  font-size: 8rem;
  line-height: 1;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
}

.main-nav-list {
  display: flex;
  gap: 3rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav-list li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 2rem;
}

/* === Portfolio Section === */
.portfolio {
  display: flex;
  flex-direction: column;
  gap: 9rem;
}

.portfolio-row {
  display: flex;
  align-items: flex-start;
  gap: 8rem;
}

.portfolio-row.reverse  {
  flex-direction: row-reverse;
  
}

.image-box-left,
.image-box-right {
  width: 600px;
  height: 750px;
  background-color: lightgray;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  flex-shrink: 0;
}

/* Left image boxes */
.image-box-left {
  margin-left: -20rem;
}

/* Right image boxes (in .reverse rows) */
.image-box-right {
  margin-right: -20rem;
}


.text-box-left {
  max-width: 900px;
  text-align: left;
  align-items: flex-start;
  margin-left: -12rem;
  transform: translateX(16rem);
}

.text-box-right {
  max-width: 900px;
  text-align: left;
  align-items: flex-end;
  margin-left: -12rem;
  transform: translateX(-8rem);
}


.text-box h2 {
  margin: 0;
  font-size: 2.25rem;
}

.text-box h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 400;
  color: gray;
}

.text-box p {
  font-size: 0.95rem;
  line-height: 1.4;
}
